node-red-flow.json
[{"id":"a32ed8cd.79ab78","type":"tab","label":"VR","disabled":false,"info":""},{"id":"7c329953.c28888","type":"tab","label":"NLU","disabled":false,"info":""},{"id":"71399a2d.1f3b34","type":"http in","z":"7c329953.c28888","name":"","url":"/analyze","method":"get","upload":false,"swaggerDoc":"","x":90,"y":140,"wires":[["4d5f180a.079dc8"]]},{"id":"4d5f180a.079dc8","type":"change","z":"7c329953.c28888","name":"Set Payload Url","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://edition.cnn.com/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":140,"wires":[["4f92c698.b11da8"]]},{"id":"4f92c698.b11da8","type":"natural-language-understanding","z":"7c329953.c28888","name":"","categories":true,"limitcategories":"3","concepts":true,"maxconcepts":"8","doc-emotion":true,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":true,"entity-sentiment":true,"maxentities":"50","keyword":true,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"50","metadata":true,"relation":true,"semantic":true,"semantic-entities":true,"semantic-keywords":true,"maxsemantics":"50","limittextcharacters":"0","syntax":true,"syntax-sentences":true,"syntax-tokens-lemma":true,"syntax-tokens-pos":true,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":340,"y":220,"wires":[["cb5f2097.1b0e4"]]},{"id":"cb5f2097.1b0e4","type":"switch","z":"7c329953.c28888","name":"return JSON?","property":"req.query.format","propertyType":"msg","rules":[{"t":"eq","v":"json","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":480,"y":300,"wires":[["56fb312b.35b9c"],["2c69dde3.882ed2"]]},{"id":"56fb312b.35b9c","type":"change","z":"7c329953.c28888","name":"Set JSON Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"features","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":240,"wires":[["20ec1130.deca3e"]]},{"id":"2c69dde3.882ed2","type":"template","z":"7c329953.c28888","name":"Display Content Analysis","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--\n#***************************************************************************\n# Copyright 2018 IBM\n#\n#   Natural Language Understanding in Node-RED\n#\n#   By JeanCarl Bisson (@dothewww)\n#   More info: https://ibm.biz/node-red-natural-language-understanding\n#\n#   Licensed under the Apache License, Version 2.0 (the \"License\");\n#   you may not use this file except in compliance with the License.\n#   You may obtain a copy of the License at\n#\n#     http://www.apache.org/licenses/LICENSE-2.0\n#\n#   Unless required by applicable law or agreed to in writing, software\n#   distributed under the License is distributed on an \"AS IS\" BASIS,\n#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n#   See the License for the specific language governing permissions and\n#***************************************************************************\n-->\n<h1>{{features.metadata.title}}</h1>\n<table>\n    <tr>\n        <td>Author</td>\n        <td><ul>{{#features.metadata.authors}}<li>{{name}}</li>{{/features.metadata.authors}}</ul></td>\n    </tr>\n    <tr>\n        <td>Document Sentiment</td>\n        <td>{{features.sentiment.document.label}} (Score: {{features.sentiment.document.score}})</td>\n    </tr>\n    <tr>\n        <td>URL</td>\n        <td><a href=\"{{features.retrieved_url}}\" target=\"_blank\">{{features.retrieved_url}}</a></td>\n    </tr>\n    <tr>\n        <td>Published</td>\n        <td>{{features.metadata.publication_date}}</td>\n    </tr>\n    <tr>\n        <td></td>\n        <td><a href=\"/story?format=json&url={{features.retrieved_url}}\">View JSON</a></td>\n    </tr>\n</table>\n\n\n<h2>Entities</h2>\n<table border=\"1\">\n    <tr>\n        <th>Entity</th>\n        <th>Type</th>\n        <th>Relevance</th>\n        <th># Occurrances</th>\n        <th>Sentiment</th>\n        <th>Sadness</th>\n        <th>Joy</th>\n        <th>Fear</th>\n        <th>Disgust</th>\n        <th>Anger</th>\n    </tr>\n    {{#features.entities}}\n        <tr>\n            <td>{{text}}</td>\n            <td>{{type}}</td>\n            <td>{{relevance}}</td>\n            <td>{{count}}</td>\n            <td>{{sentiment.score}}</td>\n            <td>{{emotion.sadness}}</td>\n            <td>{{emotion.joy}}</td>\n            <td>{{emotion.fear}}</td>\n            <td>{{emotion.disgust}}</td>\n            <td>{{emotion.anger}}</td>\n        </tr>\n    {{/features.entities}}\n</table>\n\n<h2>Keywords</h2>\n<table border=\"1\">\n    <tr>\n        <th>Keyword</th>\n        <th>Relevance</th>\n        <th>Sentiment</th>\n        <th>Sadness</th>\n        <th>Joy</th>\n        <th>Fear</th>\n        <th>Disgust</th>\n        <th>Anger</th>\n    </tr>\n{{#features.keywords}}\n    <tr>\n        <td>{{text}}</td>\n        <td>{{relevance}}</td>\n        <td>{{sentiment.score}}</td>\n        <td>{{emotion.sadness}}</td>\n        <td>{{emotion.joy}}</td>\n        <td>{{emotion.fear}}</td>\n        <td>{{emotion.disgust}}</td>\n        <td>{{emotion.anger}}</td>\n    </tr>\n{{/features.keywords}}\n</table>\n\n<h2>Concepts</h2>\n<table border=\"1\">\n    <tr>\n        <th>Concept</th>\n        <th>Relevance</th>\n        <th>DBpedia</th>\n    </tr>\n{{#features.concepts}}\n    <tr>\n        <td>{{text}}</td>\n        <td>{{relevance}}</td>\n        <td><a href=\"{{dbpedia_resource}}\" target=\"_blank\">{{dbpedia_resource}}</a></td>\n    </tr>\n{{/features.concepts}}\n</table>\n\n<h2>Categories</h2>\n<table border=\"1\">\n    <tr>\n        <th>Label</th>\n        <th>Score</th>\n    </tr>\n{{#features.categories}}\n    <tr>\n        <td>{{label}}</td>\n        <td>{{score}}</td>\n    </tr>\n{{/features.categories}}\n</table>\n\n<h2>Relations</h2>\n{{#features.relations}}\n  <h3><i>{{sentence}}</i></h3>\n  <blockquote>{{type}} relation between\n  {{#arguments}}\n    \"{{text}}\"\n  {{/arguments}}\n  </blockquote>\n{{/features.relations}}\n\n<h2>Semantic Roles </h2>\n{{#features.semantic_roles}}\n  <h3><i>{{sentence}}</i></h3>\n  <blockquote>Subject: {{subject.text}}<br />\n  Action: {{action.text}}<br />\n  Object: {{object.text}}</blockquote>\n{{/features.semantic_roles}}\n\n<h2>Feeds</h2>\n<ul>\n{{#features.metadata.feeds}}\n  <li><a href=\"{{feed}}\" target=\"_blank\">{{feed}}</a></li>\n{{/features.metadata.feeds}}\n</ul>","output":"str","x":690,"y":380,"wires":[["20ec1130.deca3e"]]},{"id":"20ec1130.deca3e","type":"http response","z":"7c329953.c28888","name":"","statusCode":"","headers":{},"x":830,"y":280,"wires":[]},{"id":"5de9beec.cda87","type":"visual-recognition-v3","z":"a32ed8cd.79ab78","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":510,"y":340,"wires":[["4677b687.e09048"]]},{"id":"3cc5ad74.3eed32","type":"http in","z":"a32ed8cd.79ab78","name":"","url":"/reco","method":"get","upload":false,"swaggerDoc":"","x":128,"y":158,"wires":[["f4b7e4.04d5c82"]]},{"id":"cdb38759.719528","type":"http response","z":"a32ed8cd.79ab78","name":"HTTP Response","statusCode":"","headers":{},"x":796,"y":223,"wires":[]},{"id":"f4b7e4.04d5c82","type":"switch","z":"a32ed8cd.79ab78","name":"Check image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":252,"y":220,"wires":[["5108791.aa92888"],["511de8d.e88a918"]]},{"id":"5108791.aa92888","type":"template","z":"a32ed8cd.79ab78","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Welcome to the Watson Visual Recognition Demo on Node-RED</h1>\n    <h2>Select an image URL</h2>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/1.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/2.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/3.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/4.jpg\" height='100'/>\n        <br/>Copy above image location URL or enter any image URL:<br/>\n        <input type=\"text\" name=\"imageurl\"/>\n        <input type=\"submit\" value=\"Analyze\"/>\n    </form>\n</body>\n</html>","x":546,"y":189,"wires":[["cdb38759.719528"]]},{"id":"4677b687.e09048","type":"template","z":"a32ed8cd.79ab78","name":"Report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Node-RED Watson Visual Recognition output</h1>\n<p>Analyzed image: {{payload}}<br/><img src=\"{{payload}}\" height='100'/></p>\n<table border='1'>\n    <thead><tr><th>Name</th><th>Score</th></tr></thead>\n{{#result.images.0.classifiers.0.classes}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/result.images.0.classifiers.0.classes}}\n</table>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"/>\n</form>\n</body>\n</html>","x":641,"y":257,"wires":[["cdb38759.719528"]]},{"id":"511de8d.e88a918","type":"change","z":"a32ed8cd.79ab78","name":"Extract img URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":338,"y":278,"wires":[["5de9beec.cda87"]]},{"id":"5d6a163c.bb54e8","type":"comment","z":"a32ed8cd.79ab78","name":"!!Make sure you bind Visual Recognition Service to Node-RED App!!","info":"When running in BlueMix, the credentials for the service will be filled-in from BMix credentials management.\nFor this to work, the Visual Recognition Service has to be bound to the Node-RED application.\n","x":520,"y":480,"wires":[]}]